<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://localhost:8080/api/login">
        用户名：<input type="text">
        密  码：<input type="password">
        邮箱：<input type="email">

        <div class="ad-checkbox">
            <label>
                <input type="checkbox" name="remember" class="ad-checkbox">
                <span>Remember Me</span>
            </label>
        </div>

        <div class="ad-auth-btn">
            <!--<a href="" class="ad-btn ad-login-member">登录</a>-->
            <input type="submit" class="ad-btn ad-login-member" value="登录">
        </div>

    </form>
</body>
</html>
<script>

</script>